<%- include('includes/head.ejs') %>
    <style>
        main h1{
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
        }
    </style>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <h1>Page Not Found</h1>
    </main>
<%- include('includes/end.ejs') %>