<%- include('includes/head.ejs') %>
    <style>
        main{
            display: block;
            text-align: center;
            /* width: 100%;
            height: 100%; */
            /* justify-content: center; */
        }
    </style>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <h1>Some Error Occured!</h1>
        <p>we are working on fixing this,sorry for the inconvinence</p>
    </main>
<%- include('includes/end.ejs') %>